<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✊</text></svg>">
    <title>You Got This From Home: June 6 2020</title>
    <meta property="og:image" content="https://home.yougotthis.io/assets/og.png">
    <meta property="og:description" content="A free online conference on the non-technical aspects of a happy, healthy work life.">
    <meta name="description" content="A free online conference on the non-technical aspects of a happy, healthy work life.">
</head>
<body>
    <header>
        <div class="left">
            <img src="/assets/logo.png" alt="Fist Logo">
            <span>You Got This From Home</span>
        </div>
        <div class="right">
            <span>June 6 2020</span>
            <span>Free</span>
        </div>
    </header>
    <div class="wrapper">
        <section id="intro">
            <div class="top">
                <span>What is You Got This From Home?</span>
            </div>
            <div class="content">
                <h1>Let's talk more about the skills that require emotional labor.</h1>
                <p><a href="https://yougotthis.io/">You Got This</a> is a network of community conferences on the non-technical 'core' skills needed for a happy, healthy work life. You Got This From Home is a new, free, online edition of the event taking place on June 6 2020.</p>
                <p>In the past we've had talks about finding mentors, spotting red flags in your place of work, managing money and ethics in tech. We really believe that by talking more about the skills that require emotional labor we can all have a healthier relationship with work.</p>
                <p><a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=You Got This: From Home&dates=20200606/20200607&details=You Got This: From Home kicks off 8am PST (SF), 11am EST (NYC) and 4pm BST (LON). Find out more at https://home.yougotthis.io">Click here to add You Got This: From Home to your calendar.</a></p>
            </div>
        </section>
        <section>
            <div class="top">
                <span>Schedule</span>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>PST</td>
                        <td>EST</td>
                        <td>GMT</td>
                        <td>Description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>08:00</td>
                        <td>11:00</td>
                        <td>16:00</td>
                        <td>Welcome Talk</td>
                    </tr>
                    <tr>
                        <td>08:15</td>
                        <td>11:15</td>
                        <td>16:15</td>
                        <td>
                            <h2>Learning is a Skill You Can Practice</h2>
                            <h3>Presented by Magdalena Stenius</h3>
                            <p>Learning is one of the most important skills in ones work life. It can also be exhausting, frustrating and hard. Especially in the beginning of your career, becoming good at learning new skills makes work a lot less stressful and more enjoyable! This talk discusses what learning is, how to find your own ways of doing it and how to set goals for your studies and progress.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>08:50</td>
                        <td>11:50</td>
                        <td>16:50</td>
                        <td>
                            <h2>The Breaking Point: Recovering from Burnout</h2>
                            <h3>Presented by <a href="https://twitter.com/paulienuh">Pauline Narvas</a></h3>
                            <p>Being in an industry that technically doesn’t stop, we can all get caught up with chasing on what the next new shiny thing there is to learn or take part in. As someone who was keen and ambitious in “breaking through” the industry, I found myself thinly spread to a point that was unhealthy and potentially dangerous long-term. Burnout is real. In this talk, I’ll share experiences as well as tips on helping spot patterns that lead to burnout and how to deal with it before it gets out of hand.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>09:30</td>
                        <td>12:30</td>
                        <td>17:30</td>
                        <td>
                            <h2>The Art of Communication</h2>
                            <h3>Presented by <a href="https://twitter.com/KatCodes">Katie Walker</a></h3>
                            <p>The stereotype of software developers working alone in a basement is far from the reality of open-plan offices and collaborating frequently with colleagues on projects. Therefore, good communication skills are a necessity, and you're not alone if you struggle with some aspect of this. For many people, everyday occurrences such as small talk and making friends can be a daunting and anxious experience.</p>
                            <p>Fortunately, just like learning to code, communication skills can be improved with time and some guidance. In this talk, I will be discussing principles to follow for strengthening work communication skills and to help with building meaningful relationships while becoming a more approachable, friendly person.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>10:05</td>
                        <td>13:05</td>
                        <td>18:05</td>
                        <td>
                            <h2>Feedback: How to have taste and not be afraid to use it</h2>
                            <h3>Presented by <a href="https://twitter.com/benbartle">Ben Bartle</a></h3>
                            <p>You're creative, made something great and want to tell people about it. In this talk, we will walk through some examples of how to maximise feedback on ideas from both your peers and managers to ensure your idea gets championed and you get the credit you deserve.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>10:30</td>
                        <td>13:30</td>
                        <td>18:30</td>
                        <td>Lunch break</td>
                    </tr>
                    <tr>
                        <td>11:30</td>
                        <td>14:30</td>
                        <td>19:30</td>
                        <td>
                            <h2>The Wonderful Thing About Tiggers: Tautology and Business Value</h2>
                            <h3>Presented by <a href="https://twitter.com/wiredferret">Heidi Waterhouse</a></h3>
                            <p>You didn't get that cool programming job because you're a great programmer. You got it because the company you work for wants to make money and they think you can help. It's easy for us to feel like our worth/value/capitalist expression is tied to our employment, but it's also useful to flip that narrative and talk about how our companies need us, and how we can use that understanding to be more valuable employees and even better humans. </p>
                            <p>What is the value that you bring to your employer? Can you articulate it? Can you expand it? Can you take that value and use it for your own purposes?</p>
                        </td>
                    </tr>
                    <tr>
                        <td>12:05</td>
                        <td>15:05</td>
                        <td>20:05</td>
                        <td>
                            <h2>Making #RemoteWork Actually Work</h2>
                            <h3>Presented by <a href="https://twitter.com/lauren_schaefer">Lauren Schaefer</a></h3>
                            <p>Shakespeare knew what he was talking about when he wrote "Some are born great remote workers, some achieve great remote work, and some have great remote work thrust upon them." Ok, maybe that's not exactly what he wrote. Whether you love working remotely or you were voluntold to work remotely, this is the session for you.  Come discover tips and tricks to being a successful remote employee from a ten-year remote work veteran.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>12:45</td>
                        <td>15:45</td>
                        <td>20:45</td>
                        <td>
                            <h2>Lending Privilege</h2>
                            <h3>Presented by <a href="https://twitter.com/anjuan">Anjuan Simmons</a></h3>
                            <p>Diversity and inclusion have become hot topics in technology, but you may not know how you can make a difference. However, this talk will help you understand that, no matter your background, you have privilege and can lend it to underrepresented groups in tech.</p>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>13:20</td>
                        <td>16:20</td>
                        <td>21:20</td>
                        <td>
                            <h2>How to negotiate (internally) for more benefits, salary, and that next promotion</h2>
                            <h3>Presented by <a href="https://twitter.com/j9mendez">Jeanine Mendez</a></h3>
                            <p>You got the job and you crushed it at the negotiating table. For most of us, we stop negotiating and advocating for ourselves after we sign on the dotted line. Internal negotiating for promotions, salary bumps, and benefits is rarely discussed but is critical to internal career advancement. In this talk we'll start by talking about how and when to negotiate more benefits AFTER your start date. Next, we'll cover promotion prep - the tools for positioning yourself for GREAT promotions. Finally, we'll be discussing the truth behind internal salary negotiations - how, when, and who to approach to bump up your salary.</p>
                        </td>
                    </tr> -->
                    <tr>
                        <td style="padding-bottom: 0.75em;">13:30</td>
                        <td style="padding-bottom: 0.75em;">16:30</td>
                        <td style="padding-bottom: 0.75em;">21:30</td>
                        <td style="padding-bottom: 0.75em;">Farewell Talks</td>
                    </tr>
                    <!-- <tr>
                        <td class='info' colspan="4" style="background: black; color: white; padding-top: 0.75em;">Please note that the schedule is subject to change. We'll keep the talk slot times the same, but may change the order of speakers closer to the event.</td>
                    </tr> -->
                </tbody>
            </table>
        </section>
        <section>
            <div class="top">
                <span>Your Host</span>
            </div>
            <div class="content">
                <h2>Carolyn Stransky</h2>
                <p style="margin-top: 1em;">Carolyn Stransky (she/her) is a software developer and journalist based in Berlin. A person with many talents, Carolyn spends her days maintaining open-source products at Meeshkan, and her nights speaking at events about documentation, self-care and ethics in technology. She's also organizer of the New Devs on the Block workshop series. You can follow her on Twitter where she goes by <a href="https://twitter.com/carolstran">@carolstran</a></p>
            </div>
        </section>
        <section>
            <div class="top">
                <span>Supporters</span>
            </div>
            <div class="sponsors">
                <a class="sponsor" href="https://balsamiq.com">
                    <img src="/assets/sponsors/balsamiq.png" alt="Balsamiq">
                    <p>Balsamiq</p>
                </a>
                <a class="sponsor" href="https://samsunginter.net">
                    <img src="/assets/sponsors/samsung-internet.png" alt="Samsung Internet">
                    <p>Samsung Internet</p>
                </a>
                <a class="sponsor" href="https://launchdarkly.com">
                    <img src="/assets/sponsors/launch-darkly.png" alt="LaunchDarkly">
                    <p>LaunchDarkly</p>
                </a>
                <a class="sponsor" href="https://github.com">
                    <img src="/assets/sponsors/github.png" alt="GitHub Education">
                    <p>GitHub Education</p>
                </a>
                <a class="sponsor" href="https://developer.nexmo.com">
                    <img src="/assets/sponsors/vonage.png" alt="Vonage">
                    <p>Vonage</p>
                </a>
                <a class="sponsor" href="https://www.contentful.com/">
                    <img src="/assets/sponsors/contentful.png" alt="Contentful">
                    <p>Contentful</p>
                </a>
            </div>
        </section>
        <section>
            <div class="top">
                <span>FAQ</span>
            </div>
            <div class="content">
                <dt>Is there a Code of Conduct?</dt>
                <dd>Absolutely. We use the <a href="https://yougotthis.io/conduct/">You Got This Code of Conduct</a>.</dd>
                <dt>What are you doing to make this event accessible?</dt>
                <dd>The event will be live captioned and will be included in the stream. Post-event we will provide recordings and transcripts. Speakers are paid for their time.</dd>
                <dt>Will the talks be recorded.</dt>
                <dd>Yes.</dd>
                <dt>Can I submit a talk?</dt>
                <dd>Not this time. We are reaching out to folks who submitted excellent talks to our previous physical events but did not get chosen in the review process. We will still run a talk submission process at our physical events.</dd>
                <dt>Who is behind You Got This From Home?</dt>
                <dd>Kevin Lewis - who coordinates the You Got This Series and runs You Got This events in the UK, and Shy Ruparel - who runs Adulting.Dev in New York.</dd>
                <dt>I've got another question</dt>
                <dd>Email Kevin at <a href="mailto:kevin@yougotthis.io">kevin@yougotthis.io</a>.</dd>
            </div>
        </section>
        <section>
            <div class="top">
                <span>Register</span>
            </div>
            <div class="content">
                <p>Registration has now closed but you'll still be able to <a href="https://youtu.be/_S5dhQXQntk">watch the event live on YouTube</a>.</p><br>
                <p>Invites to our community Discord have temporarily closed to just those who registered. They'll open back up after the event.</p>

                <!-- <div id="form">
                    <div v-if="!submitted && !success">
                        <div class="input-group">
                            <label for="fname">First Name *</label>
                            <input id="fname" type="text" v-model="form.first_name">
                        </div>
                        <div class="input-group">
                            <label for="lname">Last Name *</label>
                            <input id="lname" type="text" v-model="form.last_name">
                        </div>
                        <div class="input-group">
                            <label for="email" type="email">Email Address *</label>
                            <input id="email" type="text" v-model="form.email">
                        </div>
                        <div class="input-group checkbox">
                            <p>Sign up for the You Got This newsletter</p>
                            <div>
                                <input id="newsletter" type="checkbox" v-model="form.newsletter">
                                <label for="newsletter">Yes please, sign me up</label>
                            </div>
                        </div>
                        <input type="submit" value="Register" @click="submit">
                        <div v-if="error" class="error">
                            Error: {{error}}
                        </div>
                    </div>
                    <div v-else-if="submitted && !success" class="info">
                        <p>Submitting</p>
                    </div>
                    <div v-else-if="success" class="info">
                        <p>You have registered succesfully. We'll send you details about the event closer to the time.</p>
                        <p v-if="response.address && response.verified">We also managed to verify your address - so we're good to go!</p>
                        <p v-if="response.address && !response.verified">We could not verify your address. We will try our best to get them to you based on the information you provided.</p>
                    </div>
                </div> -->
            </div>
        </section>
    </div>
    <script src="/assets/scripts/axios.js"></script>
    <script src="/assets/scripts/vue.js"></script>
    <script src="/assets/scripts/script.js"></script>
</body>
</html>
