<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style.css">
    <title>You Got This From Home: June 6 2020</title>
    <meta property="og:image" content="https://home.yougotthis.io/assets/og.png">
    <meta property="og:description" content="A free online conference on the non-technical aspects of a happy, healthy work life.">
    <meta name="description" content="A free online conference on the non-technical aspects of a happy, healthy work life.">
</head>
<body>
    <header>
        <div class="left">
            <img src="/assets/logo.png" alt="Fist Logo">
            <span>You Got This From Home</span>
        </div>
        <div class="right">
            <span>June 6 2020</span>
            <span>Free</span>
        </div>
    </header>
    <div class="wrapper">
        <section>
            <div class="top">
                <span>What is You Got This From Home?</span>
            </div>
            <div class="content">
                <h1>Let's talk more about the skills that require emotional labor.</h1>
                <p><a href="https://yougotthis.io/">You Got This</a> is a network of community conferences on the non-technical 'core' skills needed for a happy, healthy work life. You Got This From Home is a new, free, online edition of the event taking place on June 6 2020.</p>
            </div>
        </section>
        <section>
            <div class="top">
                <span>Schedule</span>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>PST</td>
                        <td>EST</td>
                        <td>GMT</td>
                        <td>Description</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>07:00</td>
                        <td>10:00</td>
                        <td>15:00</td>
                        <td>Social Session 1</td>
                    </tr>
                    <tr>
                        <td>08:00</td>
                        <td>11:00</td>
                        <td>16:00</td>
                        <td>Welcome Talk</td>
                    </tr>
                    <tr>
                        <td>08:15</td>
                        <td>11:15</td>
                        <td>16:15</td>
                        <td>Talk 1</td>
                    </tr>
                    <tr>
                        <td>08:50</td>
                        <td>11:50</td>
                        <td>16:50</td>
                        <td>Talk 2</td>
                    </tr>
                    <tr>
                        <td>09:30</td>
                        <td>12:30</td>
                        <td>17:30</td>
                        <td>Talk 3</td>
                    </tr>
                    <tr>
                        <td>10:05</td>
                        <td>13:05</td>
                        <td>18:05</td>
                        <td>Talk 4</td>
                    </tr>
                    <tr>
                        <td>10:30</td>
                        <td>13:30</td>
                        <td>18:30</td>
                        <td>Social Session 2</td>
                    </tr>
                    <tr>
                        <td>11:30</td>
                        <td>14:30</td>
                        <td>19:30</td>
                        <td>Talk 5</td>
                    </tr>
                    <tr>
                        <td>12:05</td>
                        <td>15:05</td>
                        <td>20:05</td>
                        <td>Talk 6</td>
                    </tr>
                    <tr>
                        <td>12:45</td>
                        <td>15:45</td>
                        <td>20:45</td>
                        <td>Talk 7</td>
                    </tr>
                    <tr>
                        <td>13:20</td>
                        <td>16:20</td>
                        <td>21:20</td>
                        <td>Talk 8</td>
                    </tr>
                    <tr>
                        <td>14:00</td>
                        <td>17:00</td>
                        <td>22:00</td>
                        <td>Social Session 3</td>
                    </tr>
                    <tr>
                        <td>15:00</td>
                        <td>18:00</td>
                        <td>23:00</td>
                        <td>Event Ends</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <div class="top">
                <span>Sponsors</span>
            </div>
            <div class="sponsors">
                <a class="sponsor" href="http://balsamiq.com">
                    <img src="/assets/balsamiq.png" alt="Balsamiq">
                    <p>Balsamiq</p>
                </a>
            </div>
        </section>
        <section>
            <div class="top">
                <span>FAQ</span>
            </div>
            <div class="content">
                <dt>What are you doing to make this event accessible?</dt>
                <dd>The event will be live captioned and will be included in the stream. Post-event we will provide recordings and transcripts. Speakers are paid for their time.</dd>
                <dt>Can I submit a talk?</dt>
                <dd>Not this time. We are reaching out to folks who submitted excellent talks to our previous physical events but did not get chosen in the review process. We will still run a talk submission process at our physical events.</dd>
                <dt>What are the social sessions?</dt>
                <dd>We're still working it out, but we feel it's important to try and provide social networking opportunities as well as broadcast talks. Hang tight for info.</dd>
                <dt>How much does it cost to sponsor?</dt>
                <dd>We're asking for sponsorship to cover the cost of paying speakers, live captioning and printing/shipping stickers. We're looking for 4-5 £800 sponsors for which you'll get listed on this site and a 5 minute talk during the day. We'll also ship your stickers with ours and give you a discount on sponsoring our next physical events. If you're interested please <a href="mailto:kevin@yougotthis.io">get in touch</a>.</dd>
                <dt>Who is behind You Got This From Home?</dt>
                <dd>Kevin Lewis - who coordinates the You Got This Series and runs You Got This events in the UK, and Shy Ruparel who runs Adulting.Dev in New York.</dd>
                <dt>I've got another question</dt>
                <dd>Email Kevin at <a href="mailto:kevin@yougotthis.io">kevin@yougotthis.io</a>.</dd>
            </div>
        </section>
        <section>
            <div class="top">
                <span>Register</span>
            </div>
            <div class="content">
                <div id="form">
                    <!-- <p>Sorry, we pushed the site with an error. Hang tight - come back in 15 mins?</p> -->
                    <div v-if="!submitted && !success">
                        <p>If you provide your postal address will also send you event stickers.</p>
                        <div class="input-group">
                            <label for="fname">First Name *</label>
                            <input id="fname" type="text" v-model="form.first_name">
                        </div>
                        <div class="input-group">
                            <label for="lname">Last Name *</label>
                            <input id="lname" type="text" v-model="form.last_name">
                        </div>
                        <div class="input-group">
                            <label for="email" type="email">Email Address *</label>
                            <input id="email" type="text" v-model="form.email">
                        </div>
                        <div class="address">
                            <span>If you want us to send you stickers please also fill in the postal address fields below. If not, just leave them all blank.</span>
                            <div class="input-group">
                                <label for="address">Full Address (Please include street, city, postal code)</label>
                                <input id="address" type="text" v-model="form.address">
                            </div>
                            <div class="input-group">
                                <label for="country">Country</label>
                                <select v-model="form.country" id="country">
                                    <option disabled value="">Please select country</option>
                                    <option v-for="country in countries" :key="country">{{country}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group checkbox">
                            <p>Sign up for the You Got This newsletter</p>
                            <div>
                                <input id="newsletter" type="checkbox" v-model="form.newsletter">
                                <label for="newsletter">Yes please, sign me up</label>
                            </div>
                        </div>
                        <input type="submit" value="Register" @click="submit">
                        <div v-if="error" class="error">
                            Error: {{error}}
                        </div>
                    </div>
                    <div v-else-if="submitted && !success" class="info">
                        <p>Submitting</p>
                    </div>
                    <div v-else-if="success" class="info">
                        <p>You have registered succesfully. We'll send you details about the event closer to the time.</p>
                        <p v-if="response.address && response.verified">We also managed to verify your address - so we're good to go!</p>
                        <p v-if="response.address && !response.verified">We could not verify your address. We will try our best to get them to you based on the information you provided.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/assets/scripts/axios.js"></script>
    <script src="/assets/scripts/vue.js"></script>
    <script src="/assets/scripts/script.js"></script>
</body>
</html>
